* {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 1px;
    box-sizing: border-box;
}

body{
    font-family: "Outfit", sans-serif;
    color: #3A3630;
    background-color: #E4DECE;
    font-size: 13px;
}

.body{
    display: flex;
    grid-template-columns: 30% 70%;
}

.brokenChairContainer{
    width: 50%;
    /* background-color: blue; */
}

.brokenChairContainer img{
    width: 75%;
    object-fit: contain;
}

.contentContainer{
    margin-top: 100px;
    width: 50%;
    /* justify-content: center; */
}

h3{
    font-size: 20px;
    font-weight: 500;
    border: 1px solid #3A3630;
    width: fit-content;
    background-color: #F1EDE2;
    padding: 5px;
}

p{
    border: 1px solid #3A3630;
    width:fit-content;
    background-color: #F1EDE2;
    padding: 5px;
}

a{
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    color:#3A3630;
    a{
        color: #3A3630;
    }
}

@media screen and (max-width: 430px) {

    .body{
        /* display: block; */
        display: flex;
        flex-direction: column;
    }

    * {
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 0px;
        margin-bottom: 5px;
        padding: 1px;
        box-sizing: border-box;
    }

    .brokenChairContainer{
        width: 100%;
        /* background-color: blue; */
    }
    
    .brokenChairContainer img{
        width: 75%;
        object-fit: contain;
    }

    .contentContainer{
        margin-top: 100px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

}