* {
    margin-top: 1px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 1px;
    box-sizing: border-box;
}

body{
    font-family: "Outfit", sans-serif;
    color: #3A3630;
    background-color: #E4DECE;
}

.imgContainer {
    width: 600px;
    height: 1000px;
    /* background-color: blue; */
    display: flex;
    align-items: center;
}

/* computer half-tab scaling */
/* @media screen and (max-width: 390px) {
    
} */

/* phone scaling stuff */
@media screen and (max-width: 430px) {

    .title{
        display: column;
    }

    .title h2{
        font-size: 3rem;
    }

    h3{
        font-size: 25px;
    }

    .body{
        /* display: block; */
        display: flex;
        flex-direction: column;
    }

    .imgContainer {
        margin-top: 30px;
        width: 300px;
        height: 630px;
        /* background-color: blue; */
    }

    *{
        margin-right: 6px;
    }

    .chairHome{
        margin-left: auto;
        height: 655px;
    }

}

.chairHome{
    width: 600px;
    margin-left: -90px;
    bottom: 1000px;
    z-index: 0;
}

/* Header info */

.header{
    font-size: 15px;
    font-weight:300;
}

ul li {
    float: right;
    z-index: 1;
}

ul {
    list-style-type: none;
}

ul li a{
    text-decoration: none;
    color:#3A3630;
    font-weight: 500;
}

.homeIcon{
    /* background-color: blue; */
    margin-top:1px;
    margin-left:-50px;
    width: 20px;
    height: 20px;
}

.title{
    font-family: "Outfit", sans-serif;
    font-weight: 300;
}

.title h2{
    font-size: 6rem;
    font-weight: 500;
}

.title h3{
    font-size: 35px;
    font-size: 500;
}

.body{
    display: flex;
    grid-template-columns: 40% 60%;
    /* grid-template-columns: 1fr 2fr; */
}

.body h4{
    font-size: 15px;
    font-weight: 500;
}

.body p{
    font-size: 14px;
    font-weight: 200;
}

.footer{
    text-align: center;
    font-size: 12px;
    font-weight:300;
    color: #3A3630;
}