* {
    margin-top: 1px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 1px;
    box-sizing: border-box;
}

h3{
    font-size: 12px;
    font-weight: 500;
    border: 1px solid #3A3630;
    /* width:fit-content; */
    background-color: #F1EDE2;
    padding: 5px;
    text-align: center;
}

body{
    font-family: "Outfit", sans-serif;
    color: #3A3630;
    background-color: #E4DECE;
    font-size: 13px;
    cursor: url('cursor.svg'), auto;
}

a:hover{
    cursor: url('cursorActive.svg'), auto;
}

.body p{
    font-size: 14px;
    font-weight: 200;
}

.header{
    font-size: 15px;
    font-weight:300;
}

ul li {
    float: right;
}

ul {
    list-style-type: none;
}

ul li a{
    text-decoration: none;
    color:#3A3630;
    font-weight: 500;
}

.active{
    text-decoration: underline;
}

.homeIcon{
    /* background-color: blue; */
    margin-top:1px;
    margin-left:-50px;
    width: 20px;
    height: 20px;
}

.links{
    font-size: 14px;
    font-weight: 250;
    text-align: center;
    a{
        color: #3A3630;
    }
}

@media screen and (max-width: 430px) {

    *{
        margin-right: 6px;
    }

    body{
        font-size: 10px;
    }



}