* {
    margin-top: 1px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 1px;
    box-sizing: border-box;
}

body{
    font-family: "Outfit", sans-serif;
    color: #3A3630;
    background-color: #E4DECE;
    font-size: 13px;
    cursor: url('cursor.svg'), auto;
}

a:hover{
    cursor: url('cursorActive.svg'), auto;
}

.body p{
    font-size: 14px;
    font-weight: 200;
}

h3{
    font-size: 20px;
    font-size: 500;
}

ul li {
    float: right;
}

ul {
    list-style-type: none;
    font-size: 15px;
}

ul li a{
    text-decoration: none;
    color:#3A3630;
    font-weight: 500;
}

.active{
    text-decoration: underline;
}

.homeIcon{
    /* background-color: blue; */
    margin-top:1px;
    margin-left:-50px;
    width: 20px;
    height: 20px;
}

.footer{
    text-align: center;
    font-size: 12px;
    font-weight:300;
}

/* horizontal scroll section */

.outer{
    overflow-x: hidden;
}

.slider{
    display: flex;
    width: 300vw;
    /* align-content: center; */
}

.title{
    border: 1px solid #3A3630;
    width: fit-content;
    background-color: #F1EDE2;
    padding: 5px;
}

.desc{
    border: 1px solid #3A3630;
    width:fit-content;
    background-color: #F1EDE2;
    padding: 5px;
}

.slider img{
    width: 150%;
    padding: 20px;
    margin-top: 100px;
}

.content{
    margin-left: 70px;
}

.line{
    position: absolute;
    top: 250px;
    margin-left: -30px;
}

h3{
    font-size: 12px;
    font-weight: 500;
    border: 1px solid #3A3630;
    width:fit-content;
    background-color: #F1EDE2;
    padding: 5px;
}

/* css media scaling */

@media screen and (max-width: 430px) {

    *{
        margin-right: 6px;
    }

    .inner{
        width: 150%;
    }

    .slider img{
        width: 100%;
    }
}
